@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.logo-white{
    height: 25pt
}

.card-title{
    font-size: 20pt;
    font-weight: 300;
    }

.card-text{
        font-size: 16pt;
        font-weight: 300;
        }

.card-adress{
    font-size: 13pt;
    font-weight: 300;
}

.pantes{
    font-size: 16pt;
    font-weight: 300;
    }

.pahora{
font-size: 20pt;
font-weight: 500;
}

.logo-black{
    height: 25pt;
 
    }

.pfooter{
    font-size: 16pt;
    font-weight: 300;
    }
